<%- include("header") -%>
<div class="headding" id="">
  <h1>Good <%=currentDate[4] %></h1>
</div>
<div class="row" style="padding: 20px 51px;">
  <div class="col-md-6">
    //353513//
  </div>
  <div class="col-md-6">
    ljsd;lbaca
  </div>  
</div>





<%- include("footer") -%>